@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgba(11, 110, 2, 0.3);
  width: 100%;
  max-width: 400px;
}

h1, h2 {
  text-align: center;
  color: #000000;
}

h2 {
  margin-bottom: 30px;
  font-weight: 400;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin: 5% 0;
}

.label-float input {
  width: 100%;
  padding: 5px;
  border: 0;
  border-bottom: 2px solid #272262;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  transition: all .3s ease-out;
}

.label-float input:focus {
  border-bottom: 2px solid #4038a0;
}

.label-float label {
  color: #272262;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label {
  font-size: 13px;
  margin-top: 0;
  color: #4038a0;
}

button {
  width: 100%;
  background-color: transparent;
  border: 2px solid #87D51D;
  color: #272262;
  padding: 10px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all .4s ease-out;
}

button:hover {
  background-color: #87D51D;
  color: #000000;
}

.justify-center {
  display: flex;
  justify-content: center;
}

hr {
  margin: 10% auto;
  width: 60%;
  border: 0;
  border-top: 1px solid #ccc;
}

p {
  color: #272262;
  font-size: 14pt;
  text-align: center;
}

a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover {
  color: #272262;
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #272262;
}

#msg-error {
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
  margin-bottom: 15px;
}